<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-149872579-2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-149872579-2');
</script>


<title>{{ page.title }} &middot; {{ site.author }}</title>
<meta name="author" content="{{ site.author }}">
<link rel="icon" href="/favicon.png" type="image/png">

<link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
<script src="https://kit.fontawesome.com/c29eb45472.js" crossorigin="anonymous" SameSite="None"></script>
