<nav id="main-navigation">

  {% for item in site.data.links %}
    {% if item.title == "CV" %}
      {% assign cv = item.url %}
    {% endif %}
  {% endfor %}

  <div id="page-links">
    {% for item in site.data.links %}
      {% if page.url == item.url %}
        <a href="{{ item.url }}" title="{{ item.title }}" class="current-page">
          {{ item.title }}
        </a>
      {% else %}
        {% if forloop.first == true %}
          {% assign class = "firstTab" %}
        {% elsif forloop.last == true %}
          {% assign class = "lastTab" %}
        {% else %}
          {% assign class = "bordered" %}
        {% endif %}
        {% if item.url == "/assets/pdfs/resume.pdf" %}
          {% comment %}
            Open resume pdf file in a new tab (given by target attribute)
          {% endcomment %}
          <a href="{{ item.url }}" title="{{ item.title }}" target="_blank"
              class="{{ class }}">
            {{ item.title }}
          </a>
        {% else %}
          <a href="{{ item.url }}" title="{{ item.title }}" class="{{ class }}">
            {{ item.title }}
          </a>
        {% endif %}
      {% endif %}
    {% endfor %}
  </div>
</nav>
