<nav id="main-navigation">

  {% for item in site.data.links %}
  {% if item.title == "Home" %}
  {% assign home_page = item.url %}
  {% endif %}
  {% if item.title == "CV" %}
  {% assign cv = item.url %}
  {% endif %}
  {% endfor %}

  <a href="{{ home_page }}" title="Home" id="profile"></a>
  <div id="page-links">
    {% for item in site.data.links %}
    {% if item.url != home_page %}
    {% if page.url == item.url %}
    <a href="{{ item.url }}" title="{{ item.title }}" class="current-page">{{ item.title }}</a>
    {% else %}
    {% if item.url == cv %}
    <a href="{{ item.url }}" title="{{ item.title }}" target="_blank">
      {{ item.title }}
    </a>
    {% else %}
    <a href="{{ item.url }}" title="{{ item.title }}">{{ item.title }}</a>
    {% endif %}
    {% endif %}
    {% endif %}
    {% endfor %}
  </div>
</nav>
