/*
=============================================================================
Global Styles
=============================================================================
*/

@font-face {
    font-family: 'crimson_textregular';
    src: url('../fonts/crimsontext-regular-webfont.woff2') format('woff2'),
         url('../fonts/crimsontext-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sansregular';
    src: url('../fonts/opensans-regular-webfont.woff2') format('woff2'),
         url('../fonts/opensans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
  font-family: 'crimson_textregular', serif;
  font-size: 1rem;
  color: #303030;
  background-image: url("../images/background.jpg");
  background-repeat: repeat;
  margin: 0;
}

body > #line {
  width: 100%;
  height: 0;
  border-top: 5px solid #303030;
}

main {
  display: flex;
  flex-direction: column;
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
}

h1, h2, h3, h4, h5, h6, .page-links, nav {
  font-family: 'open_sansregular', sans-serif;
}

a {
  color: #568203;
  text-decoration: none;
}

a:hover {
  color: #8fbe36;
}

/*
=============================================================================
Homepage
=============================================================================
*/

main.homepage {
  justify-content: center;
  align-items: center;
  margin-top: 10rem;
}

main.homepage > .profile {
  display: block;
  width: 250px;
  height: 250px;
  border: 5px solid #303030;
  border-radius: 150px;
  background-image: url("../images/profile.jpg");
  background-position: center;
  background-size: 100%;
  transition: all ease-in-out 0.5s;
}

main.homepage > .profile:hover {
  background-size: 125%;
}

main.homepage > .profile #page-link {
  display: inline-flex;
  width: 100%;
  height: 100%;
  border-radius: calc(50% - 5px);
  justify-content: center;
  align-items: center;
  color: transparent;
  text-transform: uppercase;
  transition: all ease-in-out 0.5s;
}

main.homepage > .profile #page-link:hover {
  background: rgba(89, 89, 89, 0.5);
  color: #E4DDDD;
}

main.homepage #navigation {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

main.homepage #navigation > .page-links {
  display: block;
  flex-basis: 15%;
  padding: 1rem;
  border: 3px solid #303030;
  border-radius: 1rem;
  margin: 0.5rem;
  text-align: center;
  color: #303030;
  text-transform: uppercase;
  transition: all ease-in-out 0.5s;
}

main.homepage #navigation > .page-links:hover {
  background-color: #303030;
  color: #E4DDDD;
}

/*
=============================================================================
Header & Navigation
=============================================================================
*/

header > nav#main-navigation {
  display: flex;
  width: 100%;
  margin-bottom: 2rem;
}

header > nav#main-navigation > #profile {
  display: block;
  width: 100px;
  height: 100px;
  border-radius: 50px;
  border: none;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  background-image: url("../images/profile.jpg");
  background-position: center;
  background-size: 100%;
}

header > nav#main-navigation > #page-links {
  display: flex;
  width: calc(100% - 100px);
  font-size: 0.85rem;
}

header > nav#main-navigation > #page-links > a {
  display: block;
  flex-basis: 10%;
  margin-left: 1rem;
  margin-top: -0.5rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 3.5rem;
  border-bottom: 2px solid #303030;
  border-radius: 0 0 0.4rem 0.4rem;
  text-align: center;
  color: #303030;
  text-transform: uppercase;
  transition: all ease-in-out 0.3s;
}

header > nav#main-navigation > #page-links > a:hover {
  background-color: #303030;
  color: #E4DDDD;
  border-bottom: none;
  transform: translateY(0.5rem);
}

header > nav#main-navigation > #page-links > a.current-page {
  background-color: #303030;
  color: #E4DDDD;
}

/*
=============================================================================
Blog
=============================================================================
*/

main.blog {
  display: flex;
  flex-direction: column;
  width: 100%;
}

main.blog > section.post-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 1rem;
}

main.blog > section.post-list > div {
  display: flex;
  width: 100%;
  margin-bottom: 1rem;
}

main.blog > section.post-list > div.new-year {
  border-top: 1px solid #303030;
}

main.blog > section.post-list > div.current-year {
  margin-top: -2rem;
}

main.blog > section.post-list > div > .date {
  display: block;
  flex-grow: 0;
}

main.blog > section.post-list > div.current-year > h2 {
  visibility: hidden;
}

main.blog > section.post-list > div > a {
  display: block;
  flex-grow: 1;
  padding-left: 3rem;
}

/*
=============================================================================
Footer
=============================================================================
*/

footer {
  font-family: 'open_sansregular', sans-serif;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 2rem;
  justify-content: center;
  align-items: center;
}

footer .external-links > a {
  display: inline-block;
  border-radius: 8px;
  font-size: 20px;
  color: #303030;
  margin-left: 5px;
  margin-right: 5px;
}

footer .external-links > a:hover {
  color: #838383;
}

footer > #message {
  font-size: 0.75rem;
  color: #595959;
}

main.homepage > footer .external-links > a {
  display: inline-block;
  border-radius: 8px;
  font-size: 40px;
  color: #303030;
  margin-left: 10px;
  margin-right: 10px;
  transition: all ease-in-out 0.5s;
}

main.homepage > footer .external-links > a:hover {
  background-color: #303030;
  color: #E4DDDD;
}

main.homepage > footer #message {
  font-size: 1rem;
  color: #595959;
}

/*
=============================================================================
Responsive Styling
=============================================================================
*/

@media screen and (max-width: 600px) {
  main {
    padding-left: 5vw;
    padding-right: 5vw;
  }

  main.homepage {
    height: 100vh;
    margin-top: 0;
    justify-content: center;
    align-items: center;
  }

  main.homepage > .profile {
    width: calc(50vw - 5px);
    height: calc(50vw - 5px);
    border: 5px solid #303030;
    border-radius: 50vw;
  }

  main.homepage > .profile:hover {
    background-size: 100%;
  }

  main.homepage > .profile #page-link {
    width: calc(50vw - 5px);
    height: calc(50vw - 5px);
    border-radius: 50vw;
    transition: none;
  }

  main.homepage #navigation {
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
  }

  main.homepage #navigation > .page-links {
    flex-basis: 15%;
    padding: 1rem;
    border: 3px solid #303030;
    border-radius: 1rem;
    margin: 0.5rem;
    transition: none;
  }

  main.homepage > footer .external-links > a {
    flex-wrap: wrap;
    border-radius: 8px;
    font-size: 1.5rem;
    margin-left: 2.5vw;
    margin-right: 2.5vw;
    transition: none;
  }

  main.homepage > footer #message {
    font-size: 0.75rem;
  }

  header > nav#main-navigation {
    flex-direction: column;
    margin-bottom: 0;
    align-items: center;
    justify-content: center;
  }

  header > nav#main-navigation > #profile {
    width: 25vw;
    height: 25vw;
    border-radius: 12.5vw;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }

  header > nav#main-navigation > #page-links {
    display: flex;
    width: 100%;
    font-size: 0.85rem;
    justify-content: center;
    align-items: center;
  }

  header > nav#main-navigation > #page-links > a {
    display: block;
    flex-basis: 15%;
    margin-top: 1rem;
    margin-left: 0.25rem;
    margin-right: 0.25rem;
    padding: 0.5rem;
    border: 2px solid #303030;
    border-radius: 0.4rem;
    text-align: center;
    color: #303030;
    text-transform: uppercase;
    transform: none !important;
  }

  header > nav#main-navigation > #page-links > a:hover {
    background-color: #303030;
    color: #E4DDDD;
    border-bottom: none;
  }
}
