/*
=============================================================================
Global Styles
=============================================================================
*/

@font-face {
    font-family: 'montserratregular';
    src: url('../fonts/montserrat-regular-webfont.woff2') format('woff2'),
         url('../fonts/montserrat-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ibm_plex_monoregular';
    src: url('../fonts/ibmplexmono-regular-webfont.woff2') format('woff2'),
         url('../fonts/ibmplexmono-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'crimson_textregular';
    src: url('../fonts/crimsontext-regular-webfont.woff2') format('woff2'),
         url('../fonts/crimsontext-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
  font-family: 'merriweatherregular', serif;
  font-size: 1rem;
  color: #141414;
  margin: 0;
}

body > #line {
  width: 100%;
  height: 0;
  border-top: 5px solid #A0B894;
}

main {
  display: flex;
  flex-direction: column;
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
}

h1, h2, h3, h4, h5, h6, .page-links, nav {
  font-family: 'montserratregular', sans-serif;
}

a {
  color: #c6deec;
  text-decoration: none;
}

a:hover {
  color: #d0bfd9;
}

/*
=============================================================================
Homepage
=============================================================================
*/

main.homepage {
  position: relative;
  max-width: none;
  width: 100vw;
  height: 100vh;
  background-image: url("../images/website_homepage_bg.jpg");
  background-position: center left;
  background-size: cover;
}

main.homepage > #content {
  display: flex;
  position: absolute;
  bottom: 23%;
  left: 33%;
}

main.homepage #title {
  margin-top: 1rem;
  margin-bottom: 0rem;
  font-size: 3rem;
  font-stretch: semi-expanded;
  text-shadow: 1px 0px 1px white, 2px 0px 1px white, 3px 0px 1px white, 4px 0px 1px white, -1px 0px 1px white, -2px 0px 1px white, -3px 0px 1px white, -4px 0px 1px white, 0px 1px 1px white, 0px 2px 1px white, 0px 3px 1px white, 0px 4px 1px white, 0px -1px 1px white, 0px -2px 1px white, 0px -3px 1px white, 0px -4px 1px white;
}

main.homepage #message {
  margin-top: 0rem;
  margin-bottom: 1rem;
  text-align: right;
  font-family: 'ibm_plex_monoregular';
}

main.homepage #button {
  margin-left: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 1rem;
  padding-bottom: 0.25rem;
  border: 3px solid #a0b894;
  border-radius: 0.25rem;
  color: #a0b894;
  transition: all ease-in-out 0.5s;
}

main.homepage #button:hover {
  color: #f2f2f2;
  background-color: #a0b894;
}

/*
=============================================================================
Header & Navigation
=============================================================================
*/

header > nav#main-navigation {
  display: flex;
  margin-bottom: 2rem;
}

header > nav#main-navigation > #page-links {
  display: flex;
  width: calc(100% - 100px);
  font-size: 0.85rem;
}

header > nav#main-navigation > #page-links > a {
  display: block;
  flex-basis: 10%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: -1px;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-right: 1px solid #141414;
  text-align: center;
  color: #141414;
  text-transform: uppercase;
  transition: all ease-in-out 0.3s;
}

header > nav#main-navigation > #page-links > a.lastTab {
  border-right: none;
}

header > nav#main-navigation > #page-links > a.bordered:hover {
  background-color: #E9E9EC;
  border-right: 1px solid #F2F2F2;
}

header > nav#main-navigation > #page-links > a.firstTab:hover {
  background-color: #D27988;
  border-right: 1px solid #D27988;
}

header > nav#main-navigation > #page-links > a.lastTab:hover {
  background-color: #E9E9EC;
}

header > nav#main-navigation > #page-links > a.current-page {
  background-color: #A0B894;
  border-right: 1px solid #A0B894
}

/*
=============================================================================
Blog
=============================================================================
*/

main.blog {
  display: flex;
  flex-direction: column;
  width: 100%;
}

main.blog > section.post-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 1rem;
}

main.blog > section.post-list > div {
  display: flex;
  width: 100%;
  margin-bottom: 1rem;
}

main.blog > section.post-list > div.new-year {
  border-top: 1px solid #141414;
}

main.blog > section.post-list > div.current-year {
  margin-top: -2rem;
}

main.blog > section.post-list > div > .date {
  display: block;
  flex-grow: 0;
}

main.blog > section.post-list > div.current-year > h2 {
  visibility: hidden;
}

main.blog > section.post-list > div > a {
  display: block;
  flex-grow: 1;
  padding-left: 3rem;
}

/*
=============================================================================
Footer
=============================================================================
*/

footer {
  font-family: 'ibm_plex_monoregular';
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 2rem;
  justify-content: center;
  align-items: center;
}

footer .external-links > a {
  display: inline-block;
  border-radius: 8px;
  font-size: 20px;
  color: #141414;
  margin-left: 5px;
  margin-right: 5px;
}

footer .external-links > a:hover {
  color: #838383;
}

footer > #message {
  font-size: 0.75rem;
  color: #595959;
}

/*
=============================================================================
Responsive Styling
=============================================================================
*/

@media screen and (max-aspect-ratio 16/9) {
  main.homepage #message {
    text-align: right;
  }
}

@media screen and (max-aspect-ratio: 1/1) {
  main.homepage {
    background-position: 23% ;
  }

  main.homepage > #content {
    display: block;
    top: 23%;
    left: 40%;
  }

  main.homepage #title {
    word-spacing: 100vw;
  }

  main.homepage #message {
    text-align: left;
  }

  main.homepage #button {
    display: inline-block;
    text-align: center;
    width: 25%;
    margin-left: 0rem;
    padding-left: 0rem;
    padding-right: 0rem;
    padding-top: 0rem;
    padding-bottom: 0rem;
  }
}

@media screen and (max-aspect-ratio: 3/4) {
  main.homepage #button {
    margin-left: 25%;
  }
}

@media screen and (max-aspect-ratio: 5/11) {
  main.homepage #title {
    font-size: 2em;
  }

  main.homepage #message {
    font-size: 1em;
  }
}

@media screen and (max-width: 600px) {
  header > nav#main-navigation {
    flex-direction: column;
    margin-bottom: 0;
    align-items: center;
    justify-content: center;
  }

  header > nav#main-navigation > #page-links {
    display: flex;
    width: 100%;
    font-size: 0.85rem;
    justify-content: center;
    align-items: center;
  }

  header > nav#main-navigation > #page-links > a {
    display: block;
    flex-basis: 15%;
    margin-top: 1rem;
    margin-left: 0.25rem;
    margin-right: 0.25rem;
    padding: 0.5rem;
    border: 2px solid #141414;
    border-radius: 0.4rem;
    text-align: center;
    color: #141414;
    text-transform: uppercase;
  }

  header > nav#main-navigation > #page-links > a.lastTab {
    border-right: 2px solid #141414;
  }

  header > nav#main-navigation > #page-links > a.bordered:hover {
    border-right: 2px solid #141414;
  }

  header > nav#main-navigation > #page-links > a.firstTab:hover {
    border-right: 2px solid #141414;
  }

  header > nav#main-navigation > #page-links > a.current-page {
    background-color: #A0B894;
    border-right: 2px solid #141414;
  }
}
